@CHARSET "UTF-8";

a {
    color: #337ab7;
    text-decoration: none;
}

div#chartContainer {
    padding-bottom: 30px;
}

div#loading {
    display: none;
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

label {
    font-weight: 700;
}

.autocomplete-suggestions {
    border-radius: 5px;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    margin-top: 5px;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.btn-color {
    background-color: #0e1c36;
    color: #fff;

}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color {
    background-color: #ebf2fa;
}

.col-quarters {
    width: 25%;
}